<% const {mountPoint = '/api/v1/'} = locals; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/header/meta'); %>
    <title>Property Pro Lite Post Property</title>
</head>

<body>
    <%-include('partials/header/main',{
        mountPoint,
        active: 'addProperty'
    }); %>
    <main>
        <section id="postProperty" class="parent form">
            <div class="header">
                <div class="title">
                    post a property
                </div>
                <div class="subtitle">
                    please ensure you adhere to the folloeing rules and regulations prior to posting a property advert
                </div>
            </div>
            <ul class="rules">
                <li class="rule">Ensure property is available prior to upload</li>
                <li class="rule">Upload of property images with faces is prohibited</li>
                <li class="rule">Ensure property information is genuine</li>
                <li class="rule">Harmful content will result to immediate ban</li>
                <li class="rule">Agent contact must be available always</li>
            </ul>
            <form class="container">
                <div class="input image">
                    <div class="holder"></div>
                    <label>Please select an image or multiple images for property</label>
                    <div class="item">
                        <button> Select Images </button>
                    </div>
                </div>
                <div class="input title">
                    <label>Please insert property title</label>
                    <input type="text" name="title" placeholder="# bedroom flat in lekki lagos state" required>
                </div>
                <div class="input type">
                    <label>Please Select property type</label>
                    <select name="type" required>
                        <option value="" selected disabled>Select property type</option>
                        <option value="4 bedroom">4 bedroom</option>
                        <option value="3 bedroom">3 bedroom</option>
                        <option value="2 bedroom">2 bedroom</option>
                        <option value="1 bedroom">1 bedroom</option>
                        <option value="self contain">self contain</option>
                    </select>
                </div>
                <div class="input transfer_type">
                    <label>Please Select property transfer type</label>
                    <select name="transfer_type" required>
                        <option value="" selected disabled>Select property transfer type</option>
                        <option value="sale">sale</option>
                        <option value="rent-month">rent / month</option>
                        <option value="rent-year">rent / year</option>
                    </select>
                </div>
                <div class="input price">
                    <label>Please insert property price</label>
                    <input type = "number" name="price" placeholder = "300000000.0000" required>
                </div>
                <div class="input state">
                    <label>Please select the state property is cited in</label>
                    <select name="state" required>
                        <option value="" selected disabled>Select a state</option>
                    </select>
                </div>
                <div class="input city">
                    <label>Please select the city property is cited in</label>
                    <select name="city" required>
                        <option value="" selected disabled>Select a city</option>
                    </select>
                </div>
                <div class="input latitude optional">
                    <label>Please insert your property latitude as shown on the map or <a href="https://www.latlong.net/" target="_blank">click this url to get your latitude</a></label>
                    <input type="number" name="latitude" placeholder=82.45678952452 min = -90 max = 90 step = 0.000000000000000001>
                </div>
                <div class="input longitude optional">
                    <label>Please insert your property longitude as shown on the map <a href="https://www.latlong.net/" target="_blank">click this url to get your longitude</a></label>
                    <input type="number" name="longitude" placeholder=134.348465635635 min = -180 max = 180 step = 0.000000000000000001>
                </div>
                <section id="propertiesMap" class="parent">
                    <div class="header">
                        <div class="subtitle">
                            Select your exact location on the map to get the co ordinates automatically
                        </div>
                    </div>
                    <div class="container" id="mapContainer"></div>
                </section>
                <div class="input address">
                    <label>Please insert property address</label>
                    <textarea type="text" name="address" placeholder="property address" required></textarea>
                </div>
                <div class="input description">
                    <label>Please describe property exhaustively</label>
                    <textarea type="text" name="description" placeholder="property description" required></textarea>
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
    <%-include('partials/footer/main',{
        mountPoint
    }); %>
</body>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWktcxXcrO73JIKfF41Jg5ENPtHqZvNVw&libraries=places"></script>
<%-include('partials/footer/scripts',{
    mountPoint
}); %>
<script>
    window.addEventListener('load', function () {
        let pages = new Pages();
        pages.postPropertyPage.init();
    });
</script>
</html>