<% const {mountPoint = '/api/v1/'} = locals; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/header/meta'); %>
    <title>Property Pro Lite Forgot Password</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <%-include('partials/header/main',{
        mountPoint,
        active: 'resetPassword'
    }); %>

    <main>
        <section id="forgot-password" class="parent form">
            <div class="header">
                <div class="title">
                    Account Recovery Form
                </div>
                <div class="subtitle">
                    please provide the following details as requested below to recover your account
                </div>
            </div>
            <form class="container" action="">
                <div class="input">
                    <label>Please insert your email</label>
                    <input type="email" name="email" placeholder="user@me.com" required>
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
    <%-include('partials/footer/main',{
        mountPoint
    }); %>
</body>

<%-include('partials/footer/scripts'); %>
<script>
    window.addEventListener('load', function () {
        let pages = new Pages();
        pages.forgotPasswordPage.init();
    });
</script>

</html>