<% const {mountPoint = '/api/v1/'} = locals; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/header/meta'); %>
    <title>Property Pro Lite Forgot Password</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <%-include('partials/header/main',{
        mountPoint,
        active: 'resetPassword'
    }); %>

    <main>
        <section id="forgot-password" class="parent form">
            <div class="header">
                <div class="title">
                    Account Recovery Form
                </div>
                <div class="subtitle">
                    please provide the following details as requested below to recover your account
                </div>
            </div>
            <form class="container" action="">
                <div class="input">
                    <label>Please insert your email</label>
                    <input type="email" name="email" placeholder="user@me.com" required>
                </div>
                <div class="input inline">
                    <label>can you remember your password ?</label>
                    <input type="radio" name="canRememberPassword" value = 0 checked>
                    <span>no</span>
                    <input type="radio" name="canRememberPassword" value = 1>
                    <span>yes</span>
                </div>
                <div class="hidden-input">
                    <label>Please insert your old password</label>
                    <input type="password" name="password" placeholder="your old password" required>
                </div>
                <div class="hidden-input">
                    <label>Please insert your new password</label>
                    <input type="password" name="newPassword" placeholder="your new password" required>
                </div>
                <div class="hidden-input">
                    <label>Please re - insert your new password</label>
                    <input type="password" name="newPasswordConfirmation" placeholder="your new password again" required>
                </div>
                <div class="hidden-input inline">
                    <label>Do you consent that you own this account</label>
                    <input type="radio" name="owner" value=0>
                    <span>no</span>
                    <input type="radio" name="owner" value=1 checked>
                    <span>yes</span>
                </div>
                <div class="submit">
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
    <%-include('partials/footer/main',{
        mountPoint
    }); %>
</body>
<%-include('partials/footer/scripts',{
    mountPoint
}); %>
<script>
    window.addEventListener('load', function () {
        let pages = new Pages();
        pages.forgotPasswordPage.init();
    });
</script>

</html>