<% const {mountPoint = '/api/v1/'} = locals; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/header/meta'); %>
    <title>Property Pro Lite Properties List</title>
</head>

<body>
    <%-include('partials/header/main',{
        mountPoint,
        active: 'properties'
    }); %>
    <main>
        <section id="filter" class="parent">
            <form class="container">
                <div class="sections">
                    <div class="title">
                        <span class="header">Great locations</span>
                        <div class="content">Find the property</div>
                    </div>
                    <div class="types">
                        <button class="section all active"  data-name = "all">
                            <div class="icon">
                                <img src="assets/images/all.png">
                            </div>
                            <div class="name">All listing</div>
                        </button>
                        <button class="section rent" data-name = "rent">
                            <div class="icon">
                                <img src="assets/images/rent.png">
                            </div>
                            <div class="name">For rent</div>
                        </button>
                        <button class="section sale" data-name = "sale">
                            <div class="icon">
                                <img src="assets/images/sale.png">
                            </div>
                            <div class="name">For sale</div>
                        </button>
                    </div>
                </div>

                <div class="search">
                    <div class="text-search">
                        <div class="label">
                            <div class="icon">
                                <img src="assets/images/search.png">
                            </div>
                            <div class="text">
                                Search
                            </div>
                        </div>
                        <input type="text" placeholder="Enter an address, property id, etc" name="text-search">
                    </div>
                    <select name="state">
                        <option value="" disabled selected>All states</option>
                    </select>
                    <select name="city">
                        <option value="" disabled selected>All cities</option>
                    </select>
                    <select name="type">
                        <option value="" disabled selected>All types</option>
                    </select>
                    <select name="bath">
                        <option value="" disabled selected>Baths</option>
                    </select>
                    <select name="bed">
                        <option value="" disabled selected>Beds</option>
                    </select>
                    <div class="price">
                        <div class="label">
                            <div class="icon">

                            </div>
                            <div class="text">
                                Price Range
                            </div>
                        </div>
                        <input type="number" placeholder="Min Price" name="min-price">
                        <input type="number" placeholder="Max Price" name="max-price">
                    </div>
                    <div class="submit">
                        <button class="submit">
                            <span class="icon"></span>
                            <span class="content">Search</span>
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <section id="properties" class="parent">
            <div class="header">
                <div class="title">
                    Property Adverts
                </div>
                <div class="subtitle">
                    The best you can get
                </div>
            </div>
            <div class="container"></div>
        </section>
        <section id="propertiesMap" class="parent">
            <div class="header">
                <div class="title">
                    Properties Map
                </div>
                <div class="subtitle">
                    Get your desired property with ease
                </div>
            </div>
            <input id="pac-input" type="text" placeholder="Search for a location" />
            <div class="container" id="mapContainer"></div>
        </section>
    </main>
    <%-include('partials/footer/main',{
        mountPoint
    }); %>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWktcxXcrO73JIKfF41Jg5ENPtHqZvNVw&libraries=places"></script>
<%-include('partials/footer/scripts',{
    mountPoint
}); %>
<script>
    window.addEventListener('load', function () {
        let pages = new Pages();
        pages.propertiesPage.init();
    });
</script>
</html>