<% const {mountPoint = '/api/v1/'} = locals; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/header/meta'); %>
    <title>Property Pro Lite - property data</title>
</head>

<body>
    <%-include('partials/header/main',{
        mountPoint,
    }); %>
    <main>
        <section id="viewProperty" class="parent form">

        </section>
        <section id="propertiesMap" class="parent">
            <div class="header">
                <div class="title">
                    Property Map
                </div>
                <div class="subtitle">
                    Map view of property
                </div>
            </div>
            <div class="container" id="mapContainer"></div>
        </section>
        <section id="properties" class="parent">
            <div class="header">
                <div class="title">
                    Similar Property Adverts
                </div>
            </div>
            <div class="container"></div>
        </section>
    </main>
    <%-include('partials/footer/main',{
        mountPoint
    }); %>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWktcxXcrO73JIKfF41Jg5ENPtHqZvNVw&libraries=places"></script>
<%-include('partials/footer/scripts',{
    mountPoint
}); %>
<script>
    window.addEventListener('load', function () {
        let pages = new Pages();
        pages.propertyPage.init();
    });
</script>
</html>