<footer>
    <div id="article" class="parent">
        <article>
            <address>
                plot 5 road 4 gbei avenue nkpolu rumigbo port harcourt
            </address>
            <div class="phone">
                08102829763
            </div>
            <div class="email">
                kingsloob1@gmail.com
            </div>
        </article>
        <aside>
            <div class="socials">
                <a class="social">
                    <img src="assets/images/socials/facebook.png">
                </a>
                <a class="social">
                    <img src="assets/images/socials/twitter.png">
                </a>
                <a class="social">
                    <img src="assets/images/socials/instagram.png">
                </a>
                <a class="social">
                    <img src="assets/images/socials/google.png">
                </a>
            </div>
        </aside>
    </div>
    <div id="copy" class="parent">
        <span>
            Property Pro Lite &copy; 2019
        </span>
    </div>
</footer>